<div id="left">
  <h1>Query Database</h1>

  <%= render 'criteria' %>

  <%= link_to 'Show', @db_call %> |
  <%= link_to 'Back', db_calls_path %>
</div>

<div id="right">
  <% if @db_call.errors.any? %>
    <%= @db_call.errors.full_messages %>  
  <% end %> 
  <span hidden><%= selectedDisplays = Array.class_eval(@db_call.selectedDisplays) %></span>
  <% if selectedDisplays.include? "barChart" %>
    <span hidden><%= barChartName = "barchart-1" %></span>
    <span hidden><%= barData = barGraphData(@db_call) %></span>
    <% if barData.empty? %>
      <center><h1>No mongo data fits request for bar chart</h1></center>
    <% end %>
    <% barData.each do |labels, graphData| %>
      <%= render partial: "bargraph", locals: {labels: labels, graphData: graphData, barChartName: barChartName} %>
      <% barChartName = "barchart-" + barChartName.split("-")[-1].to_i.next.to_s %>
    <% end %>
  <% end %>

  <% if selectedDisplays.include? "pieChart" %>
    <span hidden><%= pieChartName = "piechart1" %></span>
    <span hidden><%= pieData = pieData(@db_call) %></span>
    <% if pieData.empty? %>
      <center><h1>No mongo data fits request for pie chart</h1></center>
    <% end %>
    <% pieData.each do |labels, graphData| %>
      <%= render partial: "piechart", locals: {labels: labels, graphData: graphData, pieChartName: pieChartName} %>
      <% pieChartName = "pie-" + pieChartName.split("-")[-1].to_i.next.to_s %>
    <% end %>
  <% end %>

  <% if selectedDisplays.include? "table" %>
    <span hidden><%= tableName = "table1" %></span>
    <span hidden><%= tableData = tableData(@db_call) %></span>
    <% if tableData.empty? %>
      <center><h1>No mongo data fits request for table</h1></center>
    <% end %>
    <%= render partial: "table", locals: {graphData: tableData, tableName: tableName} %>
    <% tableName = "table" + tableName[-1].to_i.next.to_s %>
  <% end %>
</div>