<p id="notice"><%= notice %></p>

<p>
  <b>Definedvars:</b>
  <%= @db_call.definedVars %>
</p>

<p>
  <b>Varstoshow:</b>
  <%= @db_call.varsToShow %>
</p>

<p>
  <b>Varstogroup:</b>
  <%= @db_call.varsToGroup %>
</p>

<p>
  <b>Results:</b>
  <%= @db_call.results %>
</p>

<p>
  <b>startDate:</b>
  <%= @db_call.startDate %>
</p>

<p>
  <b>endDate:</b>
  <%= @db_call.endDate %>
</p>

<%= graphName = 1 %>
<% Array.class_eval(genChart(@db_call.results, @db_call.varsToGroup, @db_call.varsToShow, @db_call.startDate, @db_call.endDate)).each do |toGraph| %>
  <%= render partial: "bargraph", locals: {toGraph: toGraph, graphName: graphName.to_s} %>
  <% graphName += 1 %>
<% end %>

<%= link_to 'Edit', edit_db_call_path(@db_call) %> |
<%= link_to 'Back', db_calls_path %>
